node_modules
package-lock.json
/test/*.png
versions/
public/index.js*
public/worker.js*
public/textures/
public/blocksStates/
examples/standalone/public/index.js
examples/standalone/public/worker.js
examples/standalone/public/textures/
examples/standalone/public/blocksStates/
*.DS_Store
test/server_*